.background {
  background: linear-gradient(#173244, white);
}

.main {
  max-width: 2200px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;

  .title {
    box-sizing: border-box;
    color: white;
    font-weight: 800;
    font-size: 2rem;
  }

  .tabrow {
    display: flex;

    button {
      background: none;
      border: none;
      font-size: 1.2rem;
      padding: 1rem 2rem;
    }

    .location {
      // margin-left: auto;
      margin-bottom: 1rem;

      label {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 1.1rem;

        select {
          margin-top: 0.5em;
          padding: 0.25em 0.5em;
          border-radius: 0.5em;
        }
      }
    }
  }

  .tabarea {
    padding: 1rem;
    background-color: #bde7ff;
    display: flex;
    flex-direction: column;

    .settingsBar {
      display: flex;

      label {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        select {
          margin-top: 0.5em;
          padding: 0.25em 0.5em;
          border-radius: 0.5em;
        }
      }
    }
  }
}
